.roboto {
	font-family: "Roboto", sans-serif;
	font-style: normal;
}
.magra-bold {
	font-family: "Magra", sans-serif;
	font-style: normal;
}
body {
	margin: 0px;
}
.title {
	margin: 0px;
	background-color: #c8c10d;
	display: flex;
	justify-content: center;
}
.title h1{
	color: white;
	text-transform: uppercase;
}
.img-content {
	display: flex;
	justify-content: center;
	  background: #ededed;
}
.content1{
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 100px;
}
.content1-container {
	display: flex;
	width: 700px;
}
.column1 {
	background-color: #ededed;
	width: 85%;
	padding: 20px;
	margin-right: 40px;
}
.column1 h4 {
	text-align: center;
}
.column1 p {
	line-height: 40px;
	color: #7a6666;
	text-align: center;
}
.column1 a{
	color: #7a6666;
}
.column1 h4, .column2 h3 {
	color: #E32A62;
	font-size: 20px;
	text-transform: uppercase;
}
.column2 p {
	color: #7a6666;
	line-height: 20px;
}
.column2 a{
	color: #7a6666;
}