footer{
	display:flex;
	justify-content: center;
	background: #e60063;
	padding-top: 40px;
	padding-bottom: 120px;
}
.center{
	font-size: 30px;
}
.fa{
	padding-left: 60px;
	color: white;
}
.copywrite{
	color:white;
	padding-top: 20px;
}